[submodule ".vendor/src/github.com/cheggaaa/pb"]
	path = .vendor/src/github.com/cheggaaa/pb
	url = git://github.com/cheggaaa/pb.git
[submodule ".vendor/src/github.com/bmizerany/assert"]
	path = .vendor/src/github.com/bmizerany/assert
	url = git://github.com/bmizerany/assert.git
[submodule ".vendor/src/github.com/kr/pretty"]
	path = .vendor/src/github.com/kr/pretty
	url = git://github.com/kr/pretty.git
[submodule ".vendor/src/github.com/kr/text"]
	path = .vendor/src/github.com/kr/text
	url = git://github.com/kr/text.git
