bin/
benchmark/
out/
resource.syso

man/*

*.test
tmp
t/remote
t/scutiger
t/test_count
t/test_count.lock

debian/git-lfs/
debian/*.log
debian/files
debian/*.substvars
debian/debhelper-build-stamp
debian/.debhelper
/.pc
obj-*

rpm/BUILD*
rpm/*RPMS
rpm/*.log
rpm/SOURCES

repos
docker/*.key

src
commands/mancontent_gen.go

po/build
po/i-reverse.po
*.mo
*.pot
tr/tr_gen.go

lfstest-*
!lfstest-*.go

vendor/
