bin/
benchmark/
.vendor/pkg
servertest
.vendor/src/github.com/github/git-lfs

# only allow man/*.\d.ronn files
man/*

*.test
tmp
test/remote

debian/git-lfs/
debian/*.log
debian/files
debian/*.substvars
obj-*
