Andy Neff <andyneff@users.noreply.github.com> <andrew.neff@visionsystemsinc.com>
Artem V. Navrotskiy <bozaro@yandex.ru> a.navrotskiy <navrotskiy@corp.mail.ru>
Artem V. Navrotskiy <bozaro@yandex.ru> <bozaro@users.noreply.github.com>
Brandon Keepers <bkeepers@github.com> <brandon@opensoul.org>
David Pursehouse <dpursehouse@collab.net> <david.pursehouse@gmail.com>
Evan Priestley <epriestley@javelinjs.com> <git@epriestley.com>
Josh Vera <josh@joshvera.com> <vera@github.com>
Lars Schneider <larsxschneider@gmail.com> <lars.schneider@autodesk.com>
Lee Reilly <lee@leereilly.net> <lee@github.com>
Noam Y. Tenne <noam@10ne.org> noamt <noam@10ne.org>
Rick Olson <technoweenie@gmail.com> rick <technoweenie@gmail.com>
Rick Olson <technoweenie@gmail.com> risk danger olson <technoweenie@gmail.com>
Rick Olson <technoweenie@gmail.com> Your Name <you@example.com>
Riku Lääkkölä <riku.laakkola@iki.fi> <riku.laakkola@coriant.com>
Ryan Simmen <ryan.simmen@gmail.com> <ryansim@microsoft.com>
Scott Barron <scott@barron.io> rubyist <scott.barron@github.com>
Scott Barron <scott@barron.io> Scott Barron <scott.barron@github.com>
Scott Richmond <s.t.richmond@gmail.com> <Scott Richmond>
Sebastian Schuberth <sschuberth@gmail.com> <sschuberth@users.noreply.github.com>
Taylor Blau <me@ttaylorr.com> <ttaylorr@github.com>
William Hipschman <willhi@microsoft.com> Will <willhi@microsoft.com>
