Evan Priestley <epriestley@javelinjs.com> epriestley <git@epriestley.com>
Josh Vera <josh@joshvera.com>             joshvera <vera@github.com>
Rick Olson <technoweenie@gmail.com>       rick <technoweenie@gmail.com>
Rick Olson <technoweenie@gmail.com>       risk danger olson <technoweenie@gmail.com>
Scott Barron <scott.barron@github.com>    rubyist <scott.barron@github.com>
William Hipschman <willhi@microsoft.com>  Will <willhi@microsoft.com>
