[deps.mux]
import = "github.com/gorilla/mux"
commit = "b08c5fcf14d01cb0c20ddf70157f54d4a2c3a38a"

[deps.simpleuuid]
import = "github.com/streadway/simpleuuid"
commit = "6617b501e485b77e61b98cd533aefff9e258b5a7"

[deps.assert]
import = "github.com/bmizerany/assert"
commit = "e17e99893cb6509f428e1728281c2ad60a6b31e3"

[deps.toml]
import = "github.com/pelletier/go-toml"
commit = "34d60ec92f3fa0b142bc9318f125411a6495ca8d"
