Source: git-lfs
Section: vcs
Priority: optional
Maintainer: Stephen Gelman <gelman@getbraintree.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-go:native (>= 1.12.0), git (>= 1.8.2), ruby-ronn, ronn | ruby-ronn (<< 0.8.0-1)
Standards-Version: 3.9.6

Package: git-lfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git (>= 1.8.2)
Built-Using: ${misc:Built-Using}
Description: Git Large File Support
 An open source Git extension for versioning large files
Homepage: https://git-lfs.github.com/
