prefix="/usr/local"

if [ "$PREFIX" != "" ] ; then
  prefix=$PREFIX
elif [ "$BOXEN_HOME" != "" ] ; then
  prefix=$BOXEN_HOME
fi

rm -rf $prefix/bin/git-media*
for g in git*; do
  cp $g "$prefix/bin/$g"
done

git config --global filter.media.clean "git-media-clean %f"
git config --global filter.media.smudge "git-media-smudge %f"
