set HAWSER_BIN_PATH="%LOCALAPPDATA%\Hawser\bin"
mkdir %HAWSER_BIN_PATH%

del %HAWSER_BIN_PATH%\git-hawser*

xcopy /s git-hawser.exe %HAWSER_BIN_PATH%\git-hawser.exe

set PATH "%PATH%%HAWSER_BIN_PATH:"=%"
setx PATH "%PATH%%HAWSER_BIN_PATH:"=%" /M

git hawser init
